<!DOCTYPE html>
<html>
    <head>
        <title>Django - Sign Video Upload and predict </title>
    </head>
    <body>
        <h1 style="text-align:center">Know The Sign</h1><p style="text-align:center">Sign Language Recognition</p>
		<div style="width: 500px; margin: auto;">
			<fieldset name="Video File Upload and Display">
				{% if msg %} {% autoescape off %} {{ msg }} {% endautoescape %} {% endif %}
				<form method="post" action="/" enctype="multipart/form-data">
					{% csrf_token %}
					<dl>
						<p>
							<label>Browse and select a video file</label>&nbsp;&nbsp;
							<input type="file" name="file" autocomplete="off" required>
						</p>
					</dl>
					<p>
						<input type="submit" value="Upload and Display and Predict">
					</p>
				</form>
			</fieldset>
			
			{% if filename %}
				<div style="margin: 10px auto;">
					<video width="500" height="240" autoplay="autoplay" controls="controls" preload="preload">
						<source src="{{ filename }}" type="video/mp4"></source>
					</video>
				</div>
			{% endif %}

			{% if data %}

			<h2>
				Predicted sign is <strong>{{data.predicted_label}}</strong>
			</h2>

			{% endif %}
		</div>	
    </body>
</html>